<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header.ejs") %>
  <body>

    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #1e212d;">
      <ul class="navbar-row ml-auto" style="margin-bottom: 0px;">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/medicalStaff">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="width: 120px;" href="/logout">Log Out</a>
        </li>
      </ul>
    </nav>
<br>
<br>
    <div class="container mt-5 mb-5">
      <h3 class="text-center"><b>ORDER HISTORY</b></h3>
      <% if (isEmpty) { %>
      <p>History cleared. Empty</p>
      <% } else { %> <% records.forEach(element => { %> 
      <% const {name, email,symptoms, symptomDays, deliverTo, prescription, prescribedByName, prescribedByEmail} = element %>
      <div class="card mx-auto mt-5 p-2">
        <div class="mb-3 row">
          <label for="name" class="col-sm-3 col-form-label"><b>NAME:</b></label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control-plaintext"
              name="name"
              id="name"
              value="<%= name %>"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="email" class="col-sm-3 col-form-label"><b>EMAIL:</b></label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control-plaintext"
              name="email"
              id="email"
              value="<%= email %>"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="symptoms" class="col-sm-3 col-form-label">
            <b>SYMPTOMS:</b>
          </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control-plaintext"
              name="symptoms"
              id="symptoms"
              value="<%= symptoms %>"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row form-group">
          <label for="symptomDays" class="col-sm-3 col-form-label">
            <b>DAYS WITH SYMPTOMS:</b>
          </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control-plaintext"
              name="symptomDays"
              id="symptomDays"
              value="<%= symptomDays %>"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="deliverTo" class="col-sm-3 col-form-label">
            <b>DELIVER TO:</b>
          </label>  
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control-plaintext"
              name="deliverTo"
              value="<%= deliverTo %>"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="prescription" class="col-sm-3 col-form-label">
            <b>PRESCRIPTION:</b>
          </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control-plaintext"
              name="prescription"
              id="prescription"
              value="<%= prescription %>"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="prescribedByName" class="col-sm-3 col-form-label">
            <b>PRESCRIBERS' NAME:</b>
          </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control-plaintext"
              name="prescribedByName"
              id="prescribedByName"
              value="<%= prescribedByName %>"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="prescribedByEmail" class="col-sm-3 col-form-label">
            <b>PRESCRIBERS' EMAIL:</b>
          </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control-plaintext"
              name="prescribedByEmail"
              id="prescribedByEmail"
              value="<%= prescribedByEmail %>"
              readonly
            />
          </div>
        </div>
      </div>
      <% }) %> <% } %>
    </div>
  </body>
</html>